{% extends 'base.html.twig' %}

{% block title %}Nouveau Compte |
	{{ parent()}}
{% endblock %}

{% block body %}

	<main class="container my-4">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}

		<h1>Nouveau compte</h1>
		{{ form(formRegister, {'attr': {'novalidate': 'novalidate'}}) }}

		</main>


	{% endblock %}
