{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	Modification de l'ingrédient
{% endblock %}


{% block body %}
	<div class="container">
		<h1 class="mt-4">Modifiction de l'ingrédients</h1>

		{{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

		</div>


	{% endblock %}
