{% extends "base.html.twig" %}

{% block title %}
	SymRecipe
{% endblock %}

{% block body %}
	<div
		class="container m-4">
		{# {% if recipiesPublic.items is same as([]) %} #}

		<h1 class="ms-5">Recettes de la comunauté</h1>

		<div class="d-flex justify-content-center flex-wrap mr-2 ">
			{% for recipe in recipiesPublic %}

				<div class="card border-primary m-3" style="max-width: 20rem;">
					<div class="card-header">Recette n°{{ recipe.id}}</div>
					<div class="card-body">
						<h4 class="card-title">temps :
							{{ recipe.name}}</h4>
						<p class="card-text">{{ recipe.description |slice(0, 100) ~ '...' }}</p>
					</div>
				</div>


			{% endfor %}


		</div>

		{# {% endif %} #}

	</div>

{% endblock %}
