{% extends "base.html.twig" %}


{% block body %}
	<div class="container">
		<h1 class="mt-4">Ajout d'un Utilisateur</h1>
		{{form(formUser, {'attr': {'novalidate': 'novalidate'}}) }}
		</div>


	{% endblock %}
